body {
	background-color: royalblue !important;
	color: #fff !important;
}
#w {
	height: 40rem !important;
}

#w2 {
	margin-top: 5rem !important;
}

#w3 {
	background-color: black;
}

#b {
	background-color: black !important;
	border: none;
}
